.edu-title,
.we-title {
  color: rgba(255, 255, 255, 255);
  font-family: "Major Mono Display", monospace;
  font-size: 1rem;
  text-align: center;
  /* padding-bottom: 15px; */
}

.we-year {
  font-family: "Major Mono Display", monospace;
  font-size: 0.7rem;
  /* padding-top: 10px; */
  padding-bottom: 0px;
}

.edu-description {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  color: white;
  opacity: 0.8;
  font-family: "system-ui", "monospace";
  font-size: 0.6rem;
  line-height: 1rem;
}
