html {
  font-family: "cascadia", "monospace" !important;
  letter-spacing: 1px;
  font-size: 1.8rem;
  background: url("/assets/header.webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white !important;
}
body {
  text-shadow: 0 0 3px;
}
h1 {
  color: rgb(236, 104, 100);
}
.container {
  width: 70%;
  padding: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.profile-img {
  border-radius: 50%;
}

.about-me {
  color: rgba(255, 255, 255, 255);
    font-family: 'cascadia', 'monospace';
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
}

section {
  justify-content: center;
  padding: 8px;
  /* border-bottom: 2px solid white; */
}
section > div {
  margin-left: 4px;
  margin-right: 4px;
}

button {
  text-transform: uppercase;
}

/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white !important;
}

.btn-T.animated-button, .btn-T.animated-button {
	position: relative;
	display: block;
  margin: 0px 30px 0px;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

@media screen and (max-width: 820px) {
  .btn-T.animated-button, .btn-T.animated-button {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .btn-T.animated-button, .btn-T.animated-button {
    margin: 0px 0px 0px;
  }
}

.btn-T.animated-button:after, .btn-T.animated-button:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
.btn-T.animated-button:hover, .btn-T.animated-button:hover {
	color: #FFF;
	text-shadow: none;
}
.btn-T.animated-button:hover:after, .btn-T.animated-button:hover:after {
	height: 450%;
}
.btn-T.animated-button:link, .btn-T.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}


.btn-T.animated-button.victoria-one {
	border: 2px solid #D24D57;
}
.btn-T.animated-button.victoria-one:after {
	background: #D24D57;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}

/* Change background color of buttons on hover */

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

/* PROJECTS SECTION */
#project-button-section {
}
.proj-btn {
  border: 2px solid white;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.3s;
  max-width: 10vh;
  min-width: 10vh;
  min-height: 10vh;
  max-height: 10vh;
  vertical-align: middle;
}

.project-images {
  width: 70px;
  height: 70px;
  border: 1px solid white; /* lmao its bugged but its fuunny */
}

.project-images > img,
.project-images > a > img {
  height: inherit;
  border-radius: inherit;
}

/* EDUCATION SECTION */

.edu-title, .we-title {
  color: rgba(255, 255, 255, 255);
  font-family: "Major Mono Display", monospace;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 15px;
}

.we-year { 
  font-family: 'Major Mono Display', monospace;
  font-size: 0.7rem;
  /* padding-top: 10px; */
  padding-bottom: 0px;
}

#footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px; /* Footer height */
}





/* Dropdown styles */
.dropdown {
  display: none;
}

@media screen and (max-width: 820px) {
  .dropdown {
    display: flex;
  }
  
}
.dropdown {
  margin-left: auto;
  margin-right: auto;
  max-width: 13em;
  position: relative;
  width: 100%;
}

.dropdown-btn {
  background: #D24D57;
  font-size: 14px;
  width: 100%;
  border: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7em 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: transform ease-in-out 0.3s;
}

.dropdown-content {
  list-style-type: none!important;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0.2em;
  width: 100%;
  visibility: hidden;
  overflow: hidden;
}

.dropdown-content li {
  background: #D24D57;
  border-radius: 0.5em;
  position: relative;
  left: 100%;
  transition: 0.5s;
  transition-delay: calc(60ms * var(--delay));
}
.dropdown-content.menu-open li {
  left: 0;
}

.dropdown-content.menu-open {
  visibility: visible;
}

.arrow.arrow-rotate {
  transform: rotate(180deg);
}

.dropdown-content li:hover {
  background: #1d1f24;
}

.dropdown-content li a {
  text-transform: uppercase;
  font-size: 20px;
  display: block;
  padding: 4px;
  color: #fff;
  margin: 8px;
  text-decoration: none;
}