html {
  font-family: "system-ui", "monospace";
  letter-spacing: 1px;
  font-size: 1.8rem;
  /* background: linear-gradient(90deg, rgba(31, 17, 206, 1) 0%, rgba(229, 43, 43, 1) 100%); */
  /* background: linear-gradient(90deg, rgba(12, 6, 103, 1) 0%, rgba(153, 0, 0, 1) 100%); */
  background: linear-gradient(
    90deg,
    rgba(5, 2, 51, 1) 0%,
    rgba(76, 0, 0, 1) 100%
  );

  /* background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(157,15,44,1) 100%); */
  /* background: rgb(2,0,36); */
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
  /* background: url("/assets/header.webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  color: white !important;


  /* Scrollbar */
  /* FIREFOX */
  scrollbar-width: normal;
  scrollbar-color: linear-gradient(
    90deg,
    rgba(5, 2, 51, 1) 0%,
    rgba(76, 0, 0, 1) 100%
  );
}

/* Scrollbar Chrome */
html::-webkit-scrollbar {
  width: 0.6vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #a0328e; /* Couleur de la barre de défilement */
  border-radius: 6px; /* Coins arrondis */
  border: 3px solid #4d0033; /* Bordure */
}

html::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-button {
  display: none; /* Masquer la flèche de la barre de défilement */
}
body {
  /* text-shadow: 0 0 3px; */
}

strong {
  font-size: 0.7rem;
  font-weight: 900;
}
h1 {
  /* color: rgb(236, 104, 100); */
  color: #ba55d3;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.kinda3d {
  overflow-wrap: break-word;
  font-family: verdana;
  font-size: 1.5em;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

.container {
  width: 70%;
  padding: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.profile-img {
  border-radius: 38%;
  filter: drop-shadow(0 4mm 1.75rem black);
}

.icon {
  background: white;
  border-radius: 100%;
  color: black; /* IE8 */
  fill: black;
}
.icon-github {
  color: white;
  fill: white;
}

a,
svg {
  display: block;
}

a {
  display: inline-block;
  position: relative; /* IE8 */
  height: 50px; /* IE8 */
  width: 50px; /* IE8 */
}

svg {
  height: 100%;
  width: 100%;
}

.about-me {
  color: white;
  font-family: "system-ui", "monospace";
  font-size: 0.8rem;
  line-height: 1rem;
}

section {
  justify-content: center;
  padding: 8px;
  /* border-bottom: 2px solid white; */
}

.text-section {
  text-align: center;
  max-width: 800px;
}
section > div {
  margin-left: 4px;
  margin-right: 4px;
}

button {
  text-transform: uppercase;
}

/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white !important;
}

.btn-T.animated-button,
.btn-T.animated-button {
  position: relative;
  display: block;
  margin: 0px 30px 0px;
  padding: 14px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

@media screen and (max-width: 820px) {
  .btn-T.animated-button,
  .btn-T.animated-button {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .btn-T.animated-button,
  .btn-T.animated-button {
    margin: 0px 0px 0px;
  }
}

.btn-T.animated-button:after,
.btn-T.animated-button:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}
.btn-T.animated-button:hover,
.btn-T.animated-button:hover {
  color: #fff;
  text-shadow: none;
}
.btn-T.animated-button:hover:after,
.btn-T.animated-button:hover:after {
  height: 450%;
}
.btn-T.animated-button:link,
.btn-T.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size: 14px;
  border-radius: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.btn-T.animated-button.victoria-one {
  border: 2px solid #d24d57;
}
.btn-T.animated-button.victoria-one:after {
  background: #d24d57;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}

/* Change background color of buttons on hover */

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

#footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px; /* Footer height */
}

/* Dropdown styles */
.dropdown {
  display: none;
}

@media screen and (max-width: 820px) {
  .dropdown {
    display: flex;
  }
}
.dropdown {
  margin-left: auto;
  margin-right: auto;
  max-width: 13em;
  position: relative;
  width: 100%;
}

.dropdown-btn {
  background: #d24d57;
  font-size: 18px;
  width: 100%;
  border: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7em 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: transform ease-in-out 0.3s;
}

.dropdown-content {
  list-style-type: none !important;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0.7em;
  width: 100%;
  visibility: hidden;
  overflow: hidden;
  z-index: 999;
}

.dropdown-content li {
  background: #d24d57;
  border-radius: 0.5em;
  position: relative;
  left: 100%;
  transition: 0.5s;
  transition-delay: calc(60ms * var(--delay));
}
.dropdown-content.menu-open li {
  left: 0;
}

.dropdown-content.menu-open {
  visibility: visible;
}

.arrow.arrow-rotate {
  transform: rotate(180deg);
}

.dropdown-content li:hover {
  background: #1d1f24;
}

.dropdown-content li a {
  width: inherit;
  text-transform: uppercase;
  font-size: 20px;
  align-items: center;
  display: flex;
  padding: 4px;
  color: #fff;
  margin: 8px;
  text-decoration: none;
}
