.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.p-10 {
  padding: 10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.justify-between { 
  justify-content: space-between;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.mx-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.rounded {
  border-radius: 50%;
}

.img-fill {
  object-fit: contain;
  width: 100%;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

.hr-80 {
  max-width: 800px;
}