.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between { 
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.mx-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.rounded {
  border-radius: 50%;
}

.img-fill {
  object-fit: contain;
  width: 100%;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}