.proj-btn {
    border: 2px solid white;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s;
    max-width: 10vh;
    min-width: 10vh;
    min-height: 10vh;
    max-height: 10vh;
    vertical-align: middle;
  }
  
  .project-images {
    width: 70px;
    height: 70px;
    border: 1px solid white; /* lmao its bugged but its fuunny */
  }
  
  .project-images > img,
  .project-images > a > img {
    height: inherit;
    border-radius: inherit;
  }