.we-description {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    text-align: justify;
    color: white;
    opacity: 0.8;
    font-family: "system-ui", "monospace";
    font-size: 0.6rem;
    line-height: 1rem;
}